html {
     font-family: Arial, Helvetica, sans-serif;
}

h1 {
     color: blue;
     font-weight: 800;
}

/* This will add red background color */
.red {
     background-color: red;
}

/*This add green back ground color.*/
.green {
     background-color: green;
}

.blue {
     background: blue;
}
.clear {
     clear: both;
}

.main-content {
     margin-left: auto;
     margin-right: auto;
     width: 1000px;
}

.row {
     clear: both;
     overflow: hidden;
}

.left {
     float: left;
}

.right {
     float: right;
}

.half {
     width: 50%;
}

.twothird {
     width: 75%;
}

.third {
     width: 23%
}

img {
     width: 100%;
}

.padding-all-24 {
     padding: 24px;
}

.padding-all-10 {
     padding: 10px;
}

.padding-24 {
     padding-top: 24px;
     padding-bottom: 24px;
}

.padding-48 {
     padding-top: 48px;
     padding-bottom: 48px;
}

.box-border {
     border: 1px solid red;
}

.font-tiny {
     font-size: 10px
}

.font-small {
     font-size: 12px
}

.font-large {
     font-size: 18px
}

.pale-yellow {
     background-color: #ffffcc;
}

.pale-blue {
     background-color: #ddffff;
}

.pale-red {
     background-color: #ffdddd;
}

.pale-green {
     background-color: #ddffdd;
}
